* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 scroll-behavior:initial;

}
header{
  background-color:#2a2438;
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 8%;
  border-bottom: 1px solid #fff9f9;
  top: 0;
  display: flex;
  justify-content: space-between;
  
}
header h2{
  font-size:36px;
  color: #fff;
  text-shadow:2px 2px 4px rgb(0, 0, 0) ;
  position: absolute;
  font-weight:bold;
  margin: 1% 4%;
}
header ul{
  position: absolute;
  right: 0;
}
header li{

  padding: 0px;
 list-style-type:none ;
 font-size: 22px;
 display: inline-block;

}

header img:hover{
  position: relative;
  background-color: rgba(0, 0, 0, 0.507);
  right:5px;
}
header li img{
  height:50px ;
  padding:0 25px;
}

section{
  width: 100%;
    height: 100vh;
  float: left;
    z-index: 0;
  }
#home{
  position: relative;
  top: 0;
  overflow:hidden;
  background-color:#000;
}
#btn{
  position:absolute;
  height:250px;
  width:250px;
  border-radius:100%;
  left:40%;
  top:25%;
  font-weight:bold;
  z-index:100;
  background:rgba(0, 0, 0, 0);
  color: #fff;
  font-size:30px;
  border: 3px solid #fff;    
  padding: 10px;
  transition: 1s all ease;
  text-shadow: 4px 4px 2px #000;
  animation: round 2s linear infinite;
}
@keyframes round{
  0%{ border-top: 10px solid rgb(230, 222, 222);}
  30%{ border-right:10px solid  rgb(230, 222, 222);}
  60%{ border-bottom: 10px solid rgb(230, 222, 222);}
  90%{border-left: 10px solid rgb(230, 222, 222);}
}
#btn:hover{
  background-color: rgba(250, 250, 250, 0.301);
  color: rgb(235, 236, 236);
  border: 3px solid rgb(255, 255, 255) ;
  font-weight:bold;
}
.close{
  height:70%;
  width:70%; 
  overflow: hidden;
}
.name{
  overflow: hidden;
  height:100%;
  width:100%;
  background-image:linear-gradient(to bottom,#084567,#afa7bb,#f4c0b3) ;
}

.hill{
  position:absolute;
  top: 0%;
  left:0px;
  height:80%;
  width:100%;
  object-fit:cover;
  animation:comeup 2s linear forwards;
}
@keyframes comeup{
  from{}
  to{ top: 10%;}
}

.forest{
  position:relative;
  top: 100%;
  height:70%;
  width:100%;
  object-fit:cover;
  animation:comeup2 2s linear forwards;
  animation-delay: 2s;
}
.forest:hover{
  top:29%;
 filter: invert(12%) contrast(120%);
}
@keyframes comeup2{
  from{}
  to{ top: 30%;}
}
.cloud{
  position:absolute;
  top:40%;
  left:0px;
  height:50%;
  width:100%;
  -webkit-box-reflect:left;
  filter:brightness(120%) contrast(100%) hue-rotate(90deg);
  animation:move 15s infinite linear;
}

.cloud:hover {
    color:rgb(226, 241, 8);
}

@keyframes move {
  0%{left:0px;}
  100%{left:400px;}
}
.text{
  cursor:pointer;
color:rgba(255, 255, 255, 0.966);
position: absolute;
z-index: 1;
top: 65%;
left: 2%;
text-shadow: 2px 2px 4px #000 ;
animation:tert 5s linear forwards;
}
@keyframes tert{
  from{left:-50%}
  to{left:2%}
}
.text h2{
  font-size:55px;
}
.text h1{
  position: relative;
  font-size:45px;
  
}
.text h3{
  position: relative;
  font-size:50px;
  
}
.boy{
  height: 70%;
  width: 30%;
  position: absolute;
  top:20%;
  left: 100%;
  transform:ScaleX(-1);
  transition: all 0.6s ease;
  animation:comeup3 2s linear forwards;
  animation-delay: 3s;
}

@keyframes comeup3{
  from{}
  to{ left: 70%;}
}

.boy:hover{
   top:19%;
  filter:invert(12%) contrast(120%);
}
#close{
  z-index:999;
  position: absolute;
  background-color: rgba(32, 25, 25, 0.986);
  height: 100%;
  width: 100%;
}

.cot1{
  position: absolute;
  left:17%;
  top: 82%;
  width: 220px;
  height:60px;
  overflow: hidden;
  animation-name: example;
  animation-duration:4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes example{
  0%{ 
      border-right: 0px solid rgb(228, 218, 218);
      border-bottom: 0px;
      border-top: 0px ;
      border-left: 0px; 
  }
  20%{
      border-bottom: 2px solid rgb(235, 226, 226); 
      border-right: 0px;
      border-top: 0px ;
      border-left: 0px; }
  50%{
      border-left: 2px solid rgb(243, 232, 232); 
      border-bottom: 0px;
      border-top: 0px ;
      border-right: 0px; }
  90%{
      border-top: 2px solid rgb(252, 248, 248); 
      border-bottom: 0px;
      border-right: 0px ;
      border-left: 0px; 
  }
  100%{border: 0px solid rgba(252, 248, 248, 0); 
    box-shadow: 0 -5px  5px rgba(163, 122, 122, 0);

  }
}
.cot2 p{
  margin-left: 10px;
  position: relative;
  left: 0px;
  display:inline-block;
  padding: 0px 10px;
  font-size:50px;
  font-weight: bold;
  color:#fff;
  animation-name:up;
  animation-duration:4s;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
 

}
@keyframes up{
  0%{left: 120px;color: #52474748;}
  15%{color: #f1ebeb44; }
  25%{left: -10px; color: rgba(255, 242, 242, 0.966)}
  27%{ color: rgba(255, 255, 255, 0)}
  50%{top: -60px; color: rgb(255, 255, 255) ;}
  55%{ color: rgba(255, 255, 255, 0.527)}
  70%{ color: rgba(236, 232, 232, 0)}
  75%{top:-120px}
  80%{top: -120px; color: rgba(243, 236, 236, 0.479); }
  95%{ left:-10px;color: rgb(253, 250, 250) ;}
  100%{  left : -0px; color: rgba(240, 231, 231, 0.952);}

}

.dbt{
  position: absolute;
  left: 47%;
  top: 50%;
  padding: 10px 15px;
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
}
.dbt:hover{
  cursor: pointer;
background-color: #084567;
color: #f4c0b3;
border: 1px solid #f4c0b3;
}

/*this is styling of skill Section*/

 #skill{
  height:100vh;
  width:100%; 
  background-image:linear-gradient(to bottom,#084567,#afa7bb,#f4c0b3);
  border: 5px solid rgb(253, 253, 253);
}

.sub-container{
position:relative;
top:-10%;
left:45%;
border-collapse: collapse;
 
}

.sub-container:hover progress{
  filter: blur(0px);
  
}
progress{
  width: 110px;
  filter: blur(4px);
  color: rgb(255, 255, 255);
  font-size:25px;

}
.sub-container td{
 position: relative;
  height:70px;
  width:50px; 
  box-shadow:( 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff);
  
}

.sub-container:hover img{
  filter: blur(0px);
}

.sub-container img{
  height:70px;
  width: 70px;
  filter: blur(10px);
}
.sub-container td:hover{
  position: relative;
  top:2%;
  left:2%;

}
.shimmer {
  position: relative;
  font-family: "Lato";
  font-weight: 300;
  font-size: 70px;
  padding:  20px ;
  top: 30%;
}
.shimmer {
  color: #000000;
  text-shadow:2px 2px rgba(27, 61, 95, 0.507),4px 4px rgba(195, 214, 223, 0.527),5px 5px rgb(4, 22, 34);
  background: -webkit-gradient(linear, left top, right top, from(rgb(252, 251, 251)), to(rgb(218, 18, 18)), color-stop(0.8, rgb(196, 188, 188)));
  background: -moz-gradient(linear, left top, right top, from(rgb(250, 250, 250)), to(rgb(219, 30, 30)), color-stop(0.8, rgb(255, 255, 255)));
  background: gradient(linear, left top, right top, from(rgb(250, 248, 248)), to(rgb(156, 21, 21)), color-stop(0.9, rgb(207, 192, 192)));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}


/*this is styling of project Section*/
#project{
   background-image:linear-gradient(to bottom,#0a0a0a,#1f1533d3,#050303) ;
  display: flex;
  }



.iframe1{
  position: relative;
  height: 38vh;
  width: 47vh;
  border: 2px solid #000;
  top: 5%;
  transform:skew(-9deg,-3deg);
  box-shadow:5px 2px 0 5px #fff,15px 0px 0  5px #000;
  border-radius: 5px;
}
.iframe1:hover{
  position:relative;
  transform:skew(0deg,0deg);
  transition: all 0.9s linear;
}
.iframe2{
  position: relative;
  height: 38vh;
  width: 45vh;
  top: 47%;
  left: -10%;
  border: 2px solid #000;
  transform:skew(-7deg,-2deg);
  box-shadow:5px 2px 0 5px #fff,15px 0px 0  5px #000;
  border-radius: 5px;
}
.iframe2:hover{
  transform:skew(0deg,0deg);
  transition: all 0.9s linear;
}
.iframe3{
  position: relative;
  height: 38vh;
  width: 47vh;
  border: 2px solid #000;
  top: 2%;
  transform:skew(-9deg,-3deg);
  box-shadow:5px 2px 0 5px #fff,15px 0px 0  5px #000;
  border-radius: 5px;
}
.iframe3:hover{
  position:relative;
  transform:skew(0deg,0deg);
  transition: all 0.9s linear;
}

#project article{
  position: relative;
  left: 20%;
  top:10%;


}
/*this is styling of contact Section*/
#services
{
  background-image:linear-gradient(to bottom,#084567,#afa7bb,#f4c0b3) ;
padding:0;

}
.main-container{
  background-image: linear-gradient(#08466785,rgba(243, 243, 243, 0.781));
  position: relative;
  top: 10%;
  left: 10%;
  height: 75%;
  width: 80%;
  display: flex;
  box-shadow: 0px 2px 4px #000;
}
.main-container > div{
  height: 80%;
  width:30%;
  border:2px solid rgb(156, 32, 32);
  color: white;
  margin: 3% 2%;
  display: flex;
}
#services h1{
  position: relative;
  top: 8%;
  left: 35%;
font-size: 40px;
color: #f4c0b3;
text-shadow: 0 2px 2px #000;
display:inline-block;
  
}
.pro1{
  background-image: url("services/1428493.jpg");

  object-position: 80% 80%;
  box-shadow: inset  0px 10px 40px rgba(8, 6, 6, 0.993);
}
.pro1 p{
  position: relative;
  text-shadow:0 2px 4px #000;
  top: 30%;  
  font-size: 50px;
  text-align: center;
  padding: 0 10%;
}
.pro2{
  background-image: url("services/2525139.jpg");
  object-fit:cover;
  object-fit: 90% 90%;
  box-shadow: inset 0px 15px 40px rgba(8, 6, 6, 0.993);
}
.pro2 p{
  position: relative;
  text-shadow:0 2px 4px #000;
  top: 30%;  
  font-size: 50px;
  padding: 0 10%;
  text-align: center;
}
.pro3{
  background-image: url("services/vecteezy_headset-sitting-on-desk.jpg");
  box-shadow: inset 0px 15px 40px rgba(8, 6, 6, 0.993);
}
.pro3 p{
  position: relative;
  text-shadow:0 2px 4px #000;
  top: 30%;  
  font-size: 50px;
  text-align: center;
  padding: 0 15%;
}
/* about section styling starting*/
#about{ 
  background-repeat: no-repeat;
  background-size: cover;
  background-image:linear-gradient(to bottom,#084567,#afa7bb,#f4c0b3) ;
  display:flex;
}
.cont{
  box-Shadow: 2px 5px 5px 5px rgba(37, 36, 36, 0.801);
  margin: 70px 70px;
  height: 80%;
  width: 90%;
  position: relative;
  top: 3%;
  background-color:rgba(243, 240, 240, 0.082);
  display: flex;
 
 
}
.prof{
  height:650px;
  width:400px;
  background: rgba(146, 146, 146, 0);
  box-shadow: 2px 2px 4px rgba(0,0,0);
  overflow: hidden;
  transition: all 1.5s ease;
}

.abt img {
  height: 470px;
  width: 320px;
  object-fit:cover;
  box-shadow: 4px 0px 4px #0000;
  position: sticky;
 
}

.prof h2{
  color: #fff;
  padding:5px 60px;
}
.abt{
  display:flex;
  position:relative;
  height: 80%;
  width: 45%;
  top:10%;
  left:25% ;
  background-color:rgba(255, 255, 255, 0);
   overflow-y: scroll;
   box-shadow:  -2px 0 4px #000;
}
.abt:hover{
  left:9%;
  width:60%;
  transition: all 1.2s linear;
}
.abt p h2{
  color:#000;
  z-index: 1000;
  font-size: 50px;
}
.contact{
  position:relative;
  top: 10%;
  left: 4%;
  height: 80%;
  width: 30%; 
  background-image:linear-gradient(to bottom,#084567,#afa7bb,#f4c0b3) ;
  color: rgb(248, 242, 242);
  font-size:20px;
  padding:50px;
  line-height:35px;
  box-shadow: 2px 0 4px #000;
}
.contact h1{
  color:#cfb79c;
    position: relative;
    top:-25px;
    left:0px;
    box-shadow: 0 0 4px #cfb79c;
  padding: 0px 55px;
}
.contact ul{
  position: relative;
  top: -270px;
  left: 330px;
  height: 320px;
  width: 50px;
  padding: 7px 0;
  background-color:#e7e7ddfd;
  border-radius:10px;
  box-shadow: 2px 2px 4px #000;
} 
.contact li{
  display:block;
}
.contact li img{
  height:50px;
  padding:2px;
  border-radius: 5px;
  cursor:pointer;
}
.contact li img:hover{
  box-shadow: 1px 1px 4px #000;
  position: relative;
}
.contact label{
  font-size: 20px;
  text-shadow: 0px 1px 2px #000;
  font-weight: 600;
}
input[type="text"]{
  width: 100%;
  height: 30px;
  border: none;
  border-bottom:2px solid #cfb79c;
  background-color: #00000000;
  outline: none;
  color:#fdfaf6;
  cursor:pointer;
  font-size: large;
  caret-color: rgb(245, 4, 4);
}
input[type="email"]{
  width: 100%;
  height: 30px;
  border: none;
  border-bottom:2px solid #cfb79c;
  background-color: #00000000;
  outline: none;
  color:#f7f5f3;
  padding: 0px 10px;
  cursor:pointer;
  
  font-size: large;
  caret-color: rgb(245, 4, 4);
}
textarea{
  border: none;
  border-bottom:2px solid #e6e9ee;
  background-color: #00000000;
  outline: none;
  color:#fffcf8;
  width: 100%;
  font-weight:bold;
  font-size: large;
  cursor:pointer;
  caret-color: rgb(245, 4, 4);
}
input[type="submit"]{
 padding:5px 10px;
 text-shadow: 0 1px 2px #000;
  margin-top:25px;
  left: 30%;
  font-size: large;
  font-weight:600;
  border-radius: 5px;
  position: relative;
  box-shadow: 1px 0px 5px #000;
  border:3px solid rgb(253, 253, 253);
  background-color: #00000000;
  color:#fffdfa;
  cursor:pointer;
}

input[type="submit"]:hover{
  position: relative;
  top: 1%;
  box-shadow: 0 2PX 4PX #000;
}

.gmail p  {
  position:absolute;
  top: 82%;
  left:120%;
  font-size: 21px;
  background-color: #f1e8e8;
  padding:0 10px;
  border-radius: 15px;
  color: #000;
  opacity: 0;
}

.gmail:hover p{
  opacity: 1;
}

/* footer*/
